*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
}

.main-header{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../public/Images/logo.jpg);
    background-blend-mode: darken;
    /* background-repeat: no-repeat; */
    padding-bottom: 10%;
    border-bottom: 8px #222 solid;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.logo{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    text-decoration: none;
    font-weight: bolder;
}

.link{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 18px; 
    border-radius: 0.5rem;
}

.showcase{
    text-align: center;
    margin-top: 10%;
}

.showcase h2{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
}

.showcase h4{
    font-size: 20px;
    letter-spacing: 0.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.form{
    padding: 1%;
}

.form label{
    display: block;
    font-size: 20px;
    padding-bottom: 20px;
}

.form input{
    width: 38%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
}

.form input:focus{
    outline: none;
}

.form button{
    border: none;
    color: white;
    padding: 23px 35px;
    background-color: red;
    font-size: xx-large;
}

.first-sec{
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    border-bottom: 8px #222 solid;
}

.first-sec img{
    width: 50%;
}

.sub-first{
    /* margin-top: 13%; */
    /* max-width: 450px; */
    font-size: 30px;
    width: 40%;
}

.second-sec{
    display: flex;
    align-items: center; 
    flex-direction: row-reverse;
    justify-content: space-between;
    /* padding-left: 100px; */
    padding: 0 5%;
    border-bottom: 8px #222 solid;
}

.second-sec img{
    width: 50%;
}

.sub-second{
    /* margin-top: 13%; */
    max-width: 450px;
    font-size: 30px;
    width: 60%;
    /* padding-right: 100px; */
}

.third-sec{
    padding: 100px;
    font-size: 30px;
    border-bottom: 8px #222 solid;
    /* max-width: 450px; */
}

.fourth-sec{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    /* padding-left: 100px; */
    padding: 0 5%;
    justify-content: space-between;
    border-bottom: 8px #222 solid;
}

.fourth-sec img{
    width: 50%;
}


.sub-fourth{
    /* margin-top: 13%; */
    max-width: 450px;
    font-size: 30px;
    width: 60%;
    /* padding-right: 100px; */
}

.faq{
    padding: 1% 0;
    margin: 0 25%;
}

.faq-header{
    /* padding: 5%;
    margin-left: -2%; */
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.question{
    background-color: #303030;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-right: 25%; */
    margin-bottom: 10px;
    padding: 10px 20px;
}

.question p{
    border-top: 1px black solid;
    padding: 2%;
    font-size: large;
    font-weight: lighter;
}

.faq-btn{
    border: none;
    font-size: 50px;
    font-weight: lighter;
    background-color: #303030;
    color: white;
    cursor: pointer;
}

.sub{
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
    align-items: center;
}

.faq-input{
    text-align: center;
    padding-bottom: 5%;
    border-bottom:  8px #222 solid;
}

.login-main-header{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../public/Images/logo.jpg);
    background-blend-mode: darken;
    /* background-repeat: no-repeat; */
    padding-bottom: 10%;
    border-bottom: 8px #222 solid;
}

.login-header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.login-header h1{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.container{
    margin: 0 35%;
    padding-bottom: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.container h2{
    margin-left: 10%;
    padding: 2%;
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

.login-form{
    padding: 5% 5%;
}

.single-form{
    padding: 2%;
}

.login-form input{
    width: 86%;
    margin-left: 10px;
    padding: 12px;
    background-color: #303030;
    color: white;
    border: none;
    border-bottom: 2px coral solid;
    border-radius: 0.5rem;
}

.login-form input:focus{
    outline: none;
}

.login-form p{
    font-size: small;
    color: coral;
    margin-left: 8%;
}

.login-btn{
    border: none;
    border-radius: 0.5rem;
    padding: 12px;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.help{
    display: flex;
    justify-content: space-between;
    padding: 0px 26px;
    color: darkgray;
}

.con-footer{
    padding: 20px;
    color: darkgray;
}

.con-footer p{
    padding: 8px;
}

.facebook{
    text-decoration: none;
    color: darkgrey;
}

.sign{
    text-decoration: none;
    color: white;
    font-size: large;
}

.sign:hover{
    text-decoration: underline;
}

.learn{
    text-decoration: none;
}

.learn:hover{
    text-decoration: underline;
}

.who{
    margin-top: 8%;
    /* margin-left: 35%; */
}

.who h1{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
}
.who button{
    border: none;
    background-color: black;
    margin-top: 3%;
    margin-left: 45%;
    padding: 5px 40px;
    color: darkgray;
    font-size: larger;
    border: 1px darkgray solid;
    cursor: pointer;
}

.who button:hover{
    color: gray;
    border: 1px gray solid;
}

.add-profile{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #141414;
}

.add-name{
    margin-top: 5%;
    margin-left: 30%;

}

.add-name h1{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    padding: 2%;
}

.add-name p{
    color: #666;
    letter-spacing: 0.1em;
    /* margin-left: 25px; */
    padding: 0 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub-form{
    padding: 20px 0px;
    border-top: 1px #666 solid;
    border-bottom: 1px #666 solid;
    margin-right: 50%;
    margin-top: 3%;
    align-items: center;
    display: flex;
}

.sub-form input{
    width: 60%;
    padding: 8px;
    background-color: darkgray;
    font-size: larger;
    color: black;
    border: none;
}

.sub-form img{
    width: 100px;
    padding: 2%;
}

.sub-form input:focus{
    outline: none;
}

.btn-ctn{
    margin-top: 3%;
    border: none;
    padding:  10px 25px;
    background-color: white;
    font-size: large;
    letter-spacing: 0.1em;
}

.btn-clear{
    margin-top: 3%;
    margin-left: 20px;
    border: none;
    padding:  10px 25px;
    background-color: #141414;
    color: white;
    border: 1px gray solid;
    font-size: large;
    letter-spacing: 0.1em;
}

.indi{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    margin-left: 18%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px darkgray solid;
    margin: 3% 35%;
}

.indi button{
    border: none;
    color: darkgray;
    background-color: transparent;
    font-size: large;
    padding: 0 20px;
    cursor: pointer;
}

.person{
    padding: 20px 15px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    border-radius: 0.5rem;
}


/* .account{
   
}

.act-con{
    margin-top: 8%;
    text-align: center;
}

.act-con h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    letter-spacing: 0.1em;
}

.makin:hover{
    border: 4px white solid;
}

.mide{
    padding: 35px 15px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    background-color: yellow;
    border-radius: 0.5rem;
    margin-right: 5%;
}

.mide:hover{
    border: 4px white solid;
}

.posi{
    padding: 35px 15px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    background-color: red;
    border-radius: 0.5rem;
    margin-right: 5%;
}

.posi:hover{
    border: 4px white solid;
}

.mikun{
    padding: 35px 15px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    background-color: blueviolet;
    border-radius: 0.5rem;
    margin-right: 5%;
}

.mikun:hover{
    border: 4px white solid;
} */


